/* Entire page (background color, etc) */
body {
}

/* different headings */
h1{

}
h2{
  text-align: left;
  margin-left: 40px;
}
h3{
}
h4{
	
}

/* paragraph text */
p{
  text-align: left;
  margin-left: 40px;
}

/* SLIDESHOW */

.mySlides {
  width: 99%;
  height: 99%;
  position: absolute;
  margin-left: auto;
  top: 0px;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  display: none;
}
.pictures {
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
}
.container > header {
  margin: 0px 0px 0px 0px;
  position: relative;
  display: block;
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
  text-align: left;
}
header {
  display: block;
}

img{
  display:block;
  height:100%; 
  object-fit: cover;
  opacity: 100%;
}

.cb-slideshow,
.cb-slideshow:after { 

    display: block;
    margin: auto;

    position: fixed;
    width: 100%;
    height: 95%;
    top: 64px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left; 
*/
}
/*.cb-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: fade 2s; 
}
.cb-slideshow li div { 
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s; 
}
.cb-slideshow li div h3 { 
  font-family: 'BebasNeue', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px; 
  font-weight: lighter;
}
.cb-slideshow li:nth-child(1) span { 
  background-image: url(../images/1.jpg) 
}
.cb-slideshow li:nth-child(2) span { 
  background-image: url(../images/2.jpg);
  animation-delay: 4s; 
}
.cb-slideshow li:nth-child(3) span { 
  background-image: url(../images/3.jpg);
  animation-delay: 8s; 
}
.cb-slideshow li:nth-child(2) div { 
  animation-delay: 4s; 
}
.cb-slideshow li:nth-child(3) div { 
  animation-delay: 8s; 
}
@keyframes imageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  30% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 0 }
}*/


/*
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}

.css-slideshow {
  text-align: center;
  max-width: 800px;
  max-height: 400px;
  margin:auto;
}

.slideshow-container {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: auto;
}


.dot {
  height: 8px;
  width: 8px;
  margin: 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}*/

/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(180, 180, 180);
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: rgba(29, 0, 32, 0.8);
  text-decoration: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* LINKS */
/* unvisited link */
a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: purple;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: red;
}

/* local tags */
.social_container{
	text-align:center;
}
a.social_link:hover{
	text-decoration:none;
}
.social{
	display:inline-block;
	text-align:center;
	height:100px;
}

/* responsive images for the news page */
.news_container {
  position: relative;
  width: 50%;
}

.news_img {
  opacity: 1;
  display: block;
  width: 500px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: auto;
  margin-right: auto;
}

.news_button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.news_container:hover .news_img {
  opacity: 0.3;
}

.news_container:hover .news_button {
  opacity: 1;
}

.news_button_text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.img {
  text-align:center;
}
.nav{
  text-align:center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
  font-size: x-large;
  border: 2px solid black;
  margin: auto;  
  padding: 20px;
  background: black;
  
}

/* when we are on a specific page on the nav bar */
a.selected:link{
	text-decoration: underline;
}