/* Entire page (background color, etc) */
body {
}

/* different headings */
h1{

}
h2{
  text-align: left;
  margin-left: 40px;
}
h3{
}
h4{
	
}

/* paragraph text */
p{
  text-align: left;
  margin-left: 40px;
}

/* SLIDESHOW */

.mySlides {
  width: 99%;
  height: 99%;
  position: absolute;
  margin-left: auto;
  top: 0px;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 0;
  
  display:block;
  margin-right: auto;
  /*display: none;*/
}
.pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
  opacity: 55%;
}
.container {
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  backface-visibility: 30%;
  padding-bottom: 0.5%;
}
.container > header {
  margin: 0px 0px 0px 0px;
  position: relative;
  display: block;
  /*text-shadow: 1px 1px 1px rgba(0,0,0,0.2);*/
  text-align: left;
}
header {
  display: block;
}

img{
  display:block;
  height:100%; 
  object-fit: cover;
  margin: 0 auto;
}

.cb-slideshow,
.cb-slideshow:after { 

    display: block;
    margin: auto;

    position: fixed;
    width: 100%;
    height: 95%;
    top: 64px;
    left: 0px;
    z-index: 0; 
}
.cb-slideshow:after { 
    content: '';
    /*background: transparent url(../images/pattern.png) repeat top left; 
*/
}

.active {
  background-color: #717171;
}*/

/* fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(180, 180, 180);
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: rgba(29, 0, 32, 0.8);
  text-decoration: none;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* LINKS */
/* unvisited link */
a:link {
  color: blue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  color: purple;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: red;
}

/* local tags */
.social_container{
	text-align:center;
	opacity: 1;
}
a.social_link:hover{
	text-decoration:none;
	opacity: 0.5;
	transform: scale(1.05);
}
.social:hover{
	transform: scale(1.05);
}

.social{
	display:inline-block;
	text-align:center;
	height:100px;
	transition: transform .2s; /* Animation */
}

/* responsive images for the news page */
.news_container {
  text-align: center;
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.news_img {
  opacity: 1;
  display: block;
  width: 500px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 0 auto;
}

.news_button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
}

.news_container:hover .news_img{
  opacity: 0.3;
}

.news_container:hover .news_button {
  opacity: 1;
}

.news_button_text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  display: inline-block;
}

.img {
  text-align:center;
}
.title_top{
  text-align:center;
  /*position: fixed;*/
  top: 0;
  z-index: 500;
  font-family: "Bebas Neue", sans-serif;
  font-size: x-large;
  border: 2px solid black;
  margin: auto;  
  padding: 0px;
  background: black;
  color: gray;
}
a.title{
  color: #add8e6;
}

a.title:hover{
	color: white;
	
}
.nav{
  text-align:center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 500;
  font-family: "Bebas Neue", sans-serif;
  font-weight: lighter;
  font-size: x-large;
  border: 1px solid black;
  margin: auto;  
  padding: 0px;
  background: black;
  color: gray;
  
}
a.nav_link {
	color: gray;
}
a.nav_link:hover{
	text-decoration: underline;
	color: lightgray;
}
a.nav_link:active{
	color: white;
}
a.selected{
	color:lightgray;
}
a.selected:hover{
	color: lightgray;
}
a.selected:active{
	color: white;
}
/* when we are on a specific page on the nav bar */
a.selected:link{
	text-decoration: underline;
}